.btn {
  display: block;
  width: 260px;
  padding: 14px 0;
  font-family: @font-family-base;
  font-size: @btn__font-size;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @text__color--main;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #444444;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    color: @btn__color--hover;
    background-color: @btn__bg--hover;
  }

  &:active {
    color: @btn__color--active;
    background-color: btn__bg--hover;
  }
}

.btn--secondary {
  background-color: @btn__bg--secondary;
  color: #ffffff;
  border: none;

  &:hover,
  &:active {
    background-color: @btn__bg--secondary;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .btn {
    width: 292px;

    &--secondary {
      width: 350px;
    }

    &--form {
      width: 230px;
      font-size: 17px;
      line-height: 17px;
    }
  }
}
