.btn {
  display: block;
  width: 260px;
  padding: 16px 0;
  font-family: @font-family-base;
  font-size: @font-size-btn;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @color-gray;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #444444;
  background-color: #ffffff;
}
