.catalog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 1px solid #ececec;

  outline: 1px solid green;
  min-height: 373px;

}

.catalog-item__img {
  margin-bottom: 28px;

  width: auto;
  height: 195px;
  outline: 1px solid red;
}

.catalog__inner {
  padding-left: 30px;

  outline: 1px solid red;
}

.catalog-item__title {
  margin: 0;
  font-size: @font-size-h2;
  line-height: 24px;
  font-weight: bold;
}

.catalog-item__link {
  color: @color-black;
  text-decoration: none;
}

.catalog-item__descr {
  font-size: @font-size-text-primary;
  line-height: 30px;
  color: @color-gray;
}

.catalog-item__order {
  font-size: @font-size-text-secondary;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {

  .catalog-item {
    flex-direction: row;
    margin-bottom: 54px;

    min-height: 333px;
  }

  .catalog-item__img {
    width: 334px;
    height: 334px;
    margin-bottom: 0;
  }

  .catalog__inner {
    padding-top: 30px;
  }

  .catalog-item__descr {
    margin-bottom: 180px;
  }
}

@media (min-width: @desktop-width) {

  .catalog-item {
    flex-direction: column;
    margin-bottom: 57px;

    min-height: 660px;
  }

  .catalog-item__img {
    width: 316px;
    height: 462px;
  }
  .catalog-item__descr {
    margin-bottom: 45px;
  }

}
