.contacts {
  padding-top: 43px;
  padding-bottom: 39px;
}

.contacts__item {
  padding-left: 30px;
  padding-right: 30px;

}

.contacts__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__table {
  margin-bottom: 36px;
}

.contacts__map {
  height: 457px;
  margin-bottom: 39px;
  background-color: #eae6dd;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
