.features {
  padding: 30px 30px;
  outline: 2px solid blue;
}

.features__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  outline: 1px solid green;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: @font-size-h2;
  line-height: 20px;
  font-weight: bold;
  outline: 1px solid green;
}

.features__item {
  margin-bottom: 20px;
  padding-top: 55px;
  outline: 1px solid red;
}

@media(min-width: @tablet-width) {

  .features {
    padding: 60px 50px;
  }

  .features__title {
    margin-bottom: 40px;
  }

  .features__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .features__item {
    width: 50%;
  }
}

@media(min-width: @desktop-width) {

  .features {
    padding: 68px 225px;
  }
}
