.field-checkbox {
  font-size: @font-size-form;
  line-height: 18px;
  font-weight: bold;
  outline: 1px solid green;
}

.field-checkbox__title {
  color: @color-blue;
  text-transform: uppercase;
}

.field-checkbox__items {
}

@media (min-width: @tablet-width) {

  .field-checkbox {
    display: flex;
    padding: 50px 0;
  }

  .field-checkbox__title {
    width: 175px;
  }

  .field-checkbox__items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    outline: 1px solid red;
    width: 500px;
  }

  .field-checkbox__item {
    width: 225px;
  }
}

@media (min-width: @desktop-width) {

    .field-checkbox {
    }

    .field-checkbox__items {
      width: 875px;
  }
}
