.main-nav {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  color: #000000;
  text-decoration: none;
}
