.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  display: none;
  &--open {
    display: block;
  }
}

.order-modal__form {
  position: absolute;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: @tablet-width) {

  .order-modal__form {
    width: 566px;
  }
}
