.page-footer {
  padding: 23px 30px;
  background-color: #eae6dd;
}

.page-footer__copyright-link {
  font-size: 19px;
  line-height: 19px;
  color: @color-black;
  text-decoration: none;
  font-weight: bold;
}
