.page-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 28px 30px;
  background-color: transparent;
}

.page-header__logo {
  position: absolute;
  width: 86px;
  height: 35px;
  left: 50%;
  top: 22px;
  transform: translateX(-50%);
}

@media (min-width: @tablet-width) {

  .page-header {
    padding: 0 50px;
  }

  .page-header__logo {
    left: 50px;
    transform: none;
  }
}

@media (min-width: @desktop-width) {

  .page-header__logo {
    width: 149px;
    left: 50%;
    transform: translateX(-50%);
  }
}
