.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 22px 30px;
  background-color: transparent;
  outline: 2px solid red;
}

.page-header__logo {
  margin-left: 85px;


  outline: 1px solid blue;
  width: 86px;
  height: 35px;
  overflow: hidden;
}

@media (min-width: @tablet-width) {

  .page-header {
    padding: 22px 50px;
    height: 150px;
  }

  .page-header__logo {
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {

  .page-header {
    padding-top: 9px;
  }

  .page-header__logo {
    margin-left: 430px;
    width: 149px;
    height: 72px;

  }
}
