.promo {
  background-color: #f9f9f9;
  padding: 75px 0 120px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo__title {
  margin: 0;
  font-size: @font-size-h1;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.promo__item {
  display: block;
  padding: 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: @color-white;
  text-decoration: none;
  outline: 1px solid blue;

  &--interiors {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

@media (min-width: @tablet-width) {

  .promo {
    margin-top: -60px;
    padding: 0 50px;
  }

  .promo__title {
    padding-top: 160px;
    padding-bottom: 360px;
  }

  .promo__items {
    display: flex;
  }

  .promo__item {
    width: 50%;
  }
}
