
.promo__title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 120px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.promo__item {
  display: block;
  padding: 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  &--interiors {
    background-color: #63d1bb;
  }
  &--toys {
    background-color: #56c3b2;
  }
}
