.reviews {
  padding: 0 30px 50px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-size: 320px 7px;
  background-position: bottom;
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__item {
  margin: 0;
  font-size: @text__font-size--medium;
  line-height: 30px;
  color: @text__color--main;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
}

.reviews__login {
  font-size: 17px;
}

.reviews__slider-wrapper {
  margin-bottom: 35px;
}

.reviews__contacts {
  margin-bottom: 35px;
}

.reviews__btn-wrapper {
  width: 260px;
  margin-bottom: 38px;
  font-size: 0;
}

.reviews__btn {
  display: inline-block;
  width: 130px;
  height: 52px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

@media(min-width: @tablet-width) {
  .reviews {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 78px 45px 105px;
    background-image:
      url("../img/bg-zigzag-line.svg"),
      url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 772px 17px, 350px auto;
    background-position: bottom, top left;
  }

  .reviews__title {
    margin-bottom: 48px;
    margin-right: 315px;
    padding: 0;
    font-size: @title__font-size--m;
    line-height: 50px;
  }

  .reviews__list {
    padding-left: 5px;
  }

  .reviews__text {
    width: 668px;
    font-size: @text__font-size--big;
    line-height: 30px;
  }

  .reviews__item {
    margin-bottom: 60px;
  }

  .reviews__slider-wrapper {
    order: 2;
    padding-bottom: 10px;
    margin-bottom: 20px
  }

  .reviews__btn-wrapper {
    position: absolute;
    bottom: 95px;
    right: 55px;
    width: 168px;
    margin-left: auto;
  }

  .reviews__btn {
    width: 84px;
    border: none;
  }

  .reviews__write {
    order: 1;
    width: 175px;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
        (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url("../img/review@2x.jpg");
  }
}

@media(min-width: @desktop-width) {
  .reviews {
    padding-top: 75px;
    padding-left: 220px;
    padding-bottom: 175px;
    background-position: bottom, 50px 0;
    background-size: 1050px 23px, 350px auto;
  }

  .reviews__title {
    margin-right: 480px;
    margin-bottom: 45px;
    font-size: @title__font-size--l;
    line-height: 57px;
  }

  .reviews__item {
    margin-bottom: 40px;
  }

  .reviews__slider-wrapper {
    margin-bottom: 10px;
  }

  .reviews__btn-wrapper {
    bottom: 155px;
  }

  .reviews__text {
    width: 770px;
  }
}
