.social-link {
  display: inline-block;
  width: 24px;
  height: 29px;
  font-size: 0;
  background-repeat: no-repeat;
  margin-right: 35px;

  &--in {
    background-image: url("../img/icon-insta.svg");
    background-position: 0 2px;
  }

  &--fb {
    background-image: url("../img/icon-fb.svg");
    background-position: 2px 0;
  }

  &--tw {
    background-image: url("../img/icon-twitter.svg");
    background-position: 0 2px;
  }

  &:last-child {
    margin-right: 0;
  }
}
