@tablet-width: 768px;
@desktop-width:  1150px;


@font-family-base: "PT Sans", "Arial", sans-serif;

@font-size-h1: 27px;
@font-size-text-primary: 13px;
@font-size-text-secondary: 15px;
@font-size-h2: 17px;
@font-size-btn: 18px;
@font-size-form: 17px;
@font-size-main-nav: 17px;

@color-black: #000000;
@color-gray: #444444;
@color-white: #ffffff;
@color-blue: #63d1bb;
