.video {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 58px;
  padding: 30px 30px 33px;
  border-bottom: 1px solid #ececec;

  outline: 2px solid blue;
  min-height: 505px;
}

.video__title {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 95px;
  font-size: @font-size-h2;
  line-height: 24px;
  font-weight: bold;

  outline: 1px solid green;
}

.video__wrapper {
  margin-bottom: 30px;

  width: 260px;
  height: 150px;
  outline: 1px solid green;
}

.video__inner {
  padding-left: 30px;
}

.video__descr {
  margin: 0;
  margin-bottom: 25px;
  font-size: @font-size-text-primary;
  line-height: 24px;
  color: @color-gray;
}

@media (min-width: @tablet-width) {

  .video {
    padding: 0 50px 46px;
    min-height: 740px;
  }

  .video__wrapper {
    order: -1;
    width: auto;
    height: 455px;
    margin-bottom: 40px;
  }

  .video__descr {
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    flex-direction: row;
    justify-content: space-between;

    min-height: 460px;
  }

  .video__title {
    position: absolute;
    left: 810px;
    top: 45px;
    padding-left: 0;
    padding-top: 50px;

    min-height: 105px;

  }

  .video__wrapper {
    width: 682px;
    height: 455px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .video__inner {
    width: 350px;
    padding-top: 180px;
    padding-left: 60px;

    outline: 1px solid green;
  }

  .video__descr {
    min-height: 120px;
    margin-bottom: 43px;
  }
}
