.video {
  margin-bottom: 58px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 33px;
  border-bottom: 1px solid #ececec;
}

.video__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.video__wrapper {
  margin-bottom: 30px;
}

.video__descr {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
