.week-product {
  padding: 30px;
  background: @color-white;
  outline: 1px solid red;
}

.week-product__header {
  margin-bottom: 30px;
  outline: 1px solid green;
}

.week-produkt__name {
  margin: 0;
  margin-bottom: 8px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.week-product__link {
  color: #000000;
  text-decoration: none;
}

.week-produkt__title {
  font-size: @font-size-h2;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: @color-blue;
}

.week-product__wrapper {
  outline: 1px solid blue;
}

.week-product__descr {
  margin: 0;
  margin-bottom: 28px;
  font-size: @font-size-text-secondary;
  line-height: 24px;
  color: @color-gray;
}

.week-product__table {
  margin-bottom: 42px;
}

.week-produkt__img {
  margin-bottom: 30px;
  outline: 1px solid green;
}

.week-produkt__price {
  display: block;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @color-gray;
  text-align: center;
}

@media (min-width: @tablet-width) {

  .week-product {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .week-product__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  .week-produkt__title {
    width: 76px;
    text-align: center;
  }

  .week-product__wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}

  .week-produkt__img {
    width: 333px;
    order: 1;
    margin-bottom: 0;
  }

  .week-product__descr {
    width: 285px;
  }
}

@media (min-width: @desktop-width) {

  .week-product {
    padding-top: 132px;
    padding-bottom: 96px;
  }

    .week-product__header {
      justify-content: flex-start;
  }

    .week-produkt__title {
    order: -1;
    margin-right: 53px;
    margin-left: 45px;
  }

    .week-product__wrapper {
    margin-left: 175px;
  }

    .week-produkt__img {
    width: 525px;
    margin-top: -175px;
  }
}
